.card:hover{
    transform: scale(1.03);
    transition: 1s;
}

#section{
        box-shadow: #fff 3px 5px 4px 2px inset;
}

button:hover{
    transform:scale(1.05);
}
html, body {
        height: 100%;
        margin: 0pt;
}
.Frame {
        display: table;
        height: 100%;
        width: 100%;
}
.Row {
        display: table-row;
        height: 1px;
}
.Row.Expand {
        height: auto;
}

#perfil:hover{
        transform: scale(1.04);
        opacity: 80%;
        transition: 1s;
}


#perfil:not(:hover){
        transform: translateY(-30px);
        opacity: 100%;
        transition: 1s;
}
